*.py[co]
.Python

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
include
#lib
tmp
develop-eggs
.installed.cfg
.settings

# emacs files
*#
*~

# vim files
*.swp
*.swo

XSXC
# Installer logs
pip-log.txt

# Unit test / coverage reports
.tox
.project
.pydevproject
.coverage
cover/*
coverage.xml

# PyCharm
.idea

# Rope
.ropeproject/

# Dependancy ignore
src/django-paypal
src/facebook-sdk
src/django-sqs

# Temp Dir and thumbs from windows.
f:/
Thumbs.db

# coverage

# nose
nosetests.xml
# translations
*.mo

# celery
celerybeat-schedule
